// backgound colors
$background-color-primary: lime;
$background-color-secondary: darkgreen;
$background-color-tertiary: rgb(19, 246, 19);

// colors list
$list-background-color-primary: rgb(104, 242, 104);
$list-background-color-secondary: rgb(43, 244, 43);

// text colors
$color-primary: rgb(153, 225, 37);
$color-secondary: rgb(219, 243, 43);
$color-tertiary: darkgreen;

// Border colors

$border-color-primary: blue;
