$font-primary: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

$font-cursive: cursive;

$font-size-secondary: 1.1rem;

$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;

$font-weight-primary: 900;
